/* Designing */
body {
    font-family: Arial, sans-serif;
    background:radial-gradient(circle, #575a5c, #313c41, #050505);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-box{
    border-radius: 2vh;
    box-shadow: 0 9px 17px rgba(0, 0, 0, 0.5);
    width: 60%;
    height:auto;
    margin: 20%;
    background: transparent;
    display: flex;
    flex-direction: column;
}
h1{
    color: #fcfbfb;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 3vh;
    font-size: 4rem;
    text-shadow: 0 7px 11px rgba(0, 0, 0, 0.3);
}
label{
    font-size: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fdfcfc;
    margin-top: 0.5rem;
    display: block;
    font-weight: bold;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    margin-left: 2rem;
}
input{
    width: 90%;
    padding: 0.6rem;
    padding-left: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: white;
    box-shadow: inset 0 6px 15px rgba(0, 0, 0, 0.4);
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-left: 2rem;
    background: transparent;
} 
/* hover */
input:hover {
    background-color: #d0d1d2;
    color: black;
    box-shadow: inset 0 6px 15px rgba(74, 144, 226, 0.4);
}
input:focus {
    border-color: #4a90e2;
    box-shadow: inset 0 6px 15px rgba(74, 144, 226, 0.6);
    outline: none;
}
.btn{
    width: 45%;
    padding: 0.7rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: #4a90e2;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 2rem auto;
    margin-left: 26%;
}